@charset "UTF-8";
/* Regra @charset caso haja problemas com acentuação */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 199, 199);
    font-size: 20px;
}
h1{
    color: rgb(61, 28, 206);
    background-color: rgb(10, 183, 206);
}
h2{
    color: rgb(111, 21, 114);
}
p{
    text-align: justify;
}